h1{
    text-align: center;
}

#outerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
#quizDiv{
    background-color:cornflowerblue;
    width: 40%;
    height:80%;
    padding: 10px;
    text-align: left;
    padding: 20px;
    border-radius: 10%;
    font-family: sans-serif;
}
.optionsList{   
    cursor: pointer;
    display: flex;
    margin: 10px;
    background-color:lightcoral;
    border: none;
    padding: 10px;
    border-radius: 10%;
}

.optionsList:hover{
    background-color: rgb(220, 66, 66);
}

.btnNext{
    cursor: pointer;
}