* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://cdn.pixabay.com/photo/2019/09/21/18/58/dog-4494554_1280.jpg");
}
.header {
  background-color: rgb(206, 119, 7);
  padding: 10px;
  text-align: center;
  font-size: x-large;
  font-family: sans-serif;
}
.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.inner-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

label {
  display: flex;
  flex-direction: column;
  color: rgb(206, 119, 7);
  font-weight: bold;
}
.btn {
  padding: 10px;
  width: 25%;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: orange;
  font-weight: bold;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: rgb(255, 199, 96);
}

.btn-div {
  display: flex;
  justify-content: space-between;
}

.outer-table {
  display: flex;
  margin-top: 40px;
  color: rgb(206, 119, 7);
  font-weight: bold;
  border: 3px solid orange;
  padding: 10px;
}

.head-table {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.table-item {
  display: flex;
  color: red;
  font-family: sans-serif;
  margin-top: 10px;
}

.item {
  width: 100%;
  border: 1px solid black;
}

.error-message {
  color: red;
}
