body{
    background-color: #800080;
}
.heading{
    color: #eabfff;
    font-size:xx-large;
    font-weight: bold;
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.signup input{
    margin-top: 10px;
    width: 30%;
    height:7%;
    border: none;
    border-radius: 10px;
}
.submit-btn{
    margin-top: 10px;
    width: 15%;
    height: 35px;
    text-align: center;
    cursor: pointer;
    background-color: #eabfff;
    border: none;
    border-radius: 10px;
    color: #800080;
    font-weight: bold;
}

.submit-btn:hover{
    background-color: #d593f7;
    transition: all;
}
.link{
    color:#d593f7;
    font-weight: bolder;
    margin-top: 8px;
}
.link:hover{
    color:#eabfff;
}

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15%;
    width:100%;
    height:100px;
}
.create-todo{
    height:40%;
    width: 30%;
    border: none;
    border-radius: 10px;
    margin-right:5px;
    margin-top: 10px;
}
.btn-todo{
    height: 40%;
}
.user-name{
    text-align: center;
}

.todo-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list{
    font-size: large;
    font-weight: bold;
    background-color: #eabfff;
    color: #800080;
    width:150px;
    height:40px;
    border-radius: 10px;
    margin-top:20px;
    padding: 10px;
}
.outer-todo{
    display: flex;
    width: 40%;
}
.todo-btn{
    width:60%;
    font-size: large;
    font-weight: bold;
    background-color: #eabfff;
    color: #800080;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.todo-btn-div{
    display: flex;
    height:40px;
    margin-top:30px;
    width: 40%;
    margin-left: 10px;
    
}