body{
    background-color: #800080;
}
.heading{
    color: #eabfff;
    font-size:xx-large;
    font-weight: bold;
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.signup input{
    margin-top: 10px;
    width: 30%;
    height:7%;
    border: none;
    border-radius: 10px;
}
.submit-btn{
    margin-top: 10px;
    width: 15%;
    height: 7%;
    text-align: center;
    cursor: pointer;
    background-color: #eabfff;
    border: none;
    border-radius: 10px;
    color: #800080;
    font-weight: bold;
}

.submit-btn:hover{
    background-color: #d593f7;
    transition: all;
}
.link{
    color:#d593f7;
    font-weight: bolder;
    margin-top: 8px;
}
.link:hover{
    color:#eabfff;
}